{% load static %}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LuxSpace</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
 <nav class="navbar navbar-expand-md">
     <div class="container-fluid">
       <div class="collapse navbar-collapse" id="collapsibleNavbar">
         <ul class="navbar-nav w-100">
            <li class="nav-item " id="logo">
              <a class="navbar-brand" href="#">
                <img src="{% static 'logo10.png' %}" class="float-start" alt="Logo" width="230" height="110">
              </a>
            </li>
             <li class="nav-item ">
               <a class="nav-link" href="{% url 'home' %}">Home</a>
             </li>
             <li class="nav-item ">
               <a class="nav-link" href="/properties/">Properties</a>
             </li>
             <li class="nav-item ">
                <a class="nav-link" href="/deals/">Hot Deals</a>
             </li>
             <li class="nav-item ">
                <a class="nav-link" href="/contact/">Contact us</a>
             </li>
             <li class="nav-item ">
                <i class="fas fa-search" id="search-icon"></i>
             </li>
             <li class="nav-item " id="login-icon">
                <a href="{% url 'login' %}">
                 <i class="fas fa-user" id="login-icon">Login</i>
                </a>
             </li>
         </ul>
       </div>
     </div>
  <div class="container22" id="container22">
   <form method="get" action="{% url 'search' %}">
      <input type="text" id="search" name="q" placeholder="Search for properties...">
        <button class="btn btn-outline-secondary" type="submit">Search</button>
  </form>
     <button id="close-btn">&times;</button>
  </div>
 </nav>


    <div class="container1">
        <img src="{% static 'photo1.4.jpg' %}" height="auto" width="100%">
        <h1>Bleona's International Real Estate</h1>
        <a href="/contact/" class="schedule" >Schedule a meeting</a>
        <a href="/properties/" class="discover" >Discover more</a>
    </div>
<div class="container2">
    <h2>Discover the World's Finest Luxury Homes</h2>
    <p>Experience luxury living with exclusive villas, houses, and apartments worldwide. Where stunning design meets top-tier comfort, each home offers breathtaking views and timeless elegance. Invest in global real estate and embrace a life of sophistication and beauty.</p>
</div>
<br><br><br><br><br><br><br>
<div class="properties-container">
 <img src="{% static 'villa6.11.jpg' %}" width=850 height=400>
    <div class="container3">
<h2>Where luxury <i>lives</i></h2>
    </div>
</div><br>
 <h1 id="featured">Discover your perfect property match</h1><br>
    <div class="container swiper swiper1">
        <div class="card-wrapper card-wrapper1">
            <ul class="card-list swiper-wrapper swiper-wrapper1">
                     {% for property in properties %}
                 <li class="card-item swiper-slide swiper-slide1">
                   <div class="carousel slide" data-bs-ride="carousel" id="carousel{{ forloop.counter }}">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{{ property.carousel_image1.url }}" alt="photo">
                        </div>
                        <div class="carousel-item">
                             <img src="{{ property.carousel_image2.url }}" alt="photo">
                        </div>
                        <div class="carousel-item">
                            <img src="{{ property.carousel_image3.url }}" alt="photo">
                        </div>
                        <div class="carousel-item">
                            <img src="{{ property.carousel_image4.url }}" alt="photo">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel{{ forloop.counter }}" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carousel{{ forloop.counter }}" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </button>
                </div>
                    <h2><b><i class="fas fa-map-marker-alt"></i> {{ property.name}}</b>{{ property.description}}</h2>
                    <h4 align="center"><b>{{ property.price }}</b></h4><br><br>
  <div>
    <a href="{% url 'property_detail' property.id %}" class="btn btn-primary">Learn more →</a>
  </div>
                </li>
   {% endfor %}
            </ul>
            <div class="swiper-pagination swiper-pagination1"></div>
             <div class="swiper-button-prev button-prev1"></div>
             <div class="swiper-button-next button-next1"></div>
        </div>
</div>
<div class="row1">
     <div class="button-container">
  <a href="/deals/" class="explore-button" >LAST MINUTE CHANCE</a>
</div>
  <a href="/properties/" id="explore1" ><strong>Explore All→ </strong> </a>
</div>
<br><br>
<div class="container4">
    <h1>About us</h1>
    <div class="row">
        <div class="col-md-6" align="center">
         <p> At Bleona's International Real Estate, we are committed to helping you find the perfect property. With years of expertise in the real estate market, we focus on providing personalized solutions and expert advice tailored to your needs. Our goal is to make your property journey seamless and successful.</p>
        </div>
       <div class="col-md-6">
           <img src ="{% static 'photo1.1.jpg' %}" alt="photo" height="auto" width="100%">
       </div>
    </div>
</div>
<br>
<div class="container5">
    <h1>    Reviews</h1>
    <div id="carouselpackage" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
   <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselpackage" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#carouselpackage" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#carouselpackage" data-bs-slide-to="2"></button>
    <button type="button" data-bs-target="#carouselpackage" data-bs-slide-to="3"></button>
   </div>

    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="div1">
                <p> I had an amazing experience with Bleona's Real Estate Agency. The team was incredibly professional and helped me find the perfect home. They made the entire process smooth and stress-free. Highly recommend!</p>
           <h2>John D</h2>
            </div>
        </div>
         <div class="carousel-item">
             <div class="div2">
                <p> The best real estate agency I’ve worked with! They listened to my needs and found me exactly what I was looking for. I couldn’t be happier with the service.</p>
             <h2>   Sarah T</h2>
             </div>
         </div>
        <div class="carousel-item">
            <div class="div3">
                <p>Professional, reliable, and knowledgeable. Bleona's Real Estate Agency made my property search easy and enjoyable. They truly care about their clients.</p>
            <h2> Michael S</h2>
            </div>
        </div>
        <div class="carousel-item">
            <div class="div4">
<p> An excellent agency with exceptional customer service. They guided me every step of the way and helped me make the right decision. I highly recommend them to anyone looking for real estate services.</p>
           <h2>  Emily R</h2>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselpackage" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselpackage" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </button>
    </div><br><br>
    </div>
</div> <br>
<hr>
<div class="container-fluid5">
    <div class="row" id="row1">
        <a href="/deals/" class="word">Last minute chance</a>
        <a href="/properties/" class="word">Our properties</a>
        <a href="/contact/" class="word">Contact Us</a>
        <a href="/login/" class="word">Log In</a>
        <a href="/register/" class="word">Register</a>
    </div>
    <hr>
    <div class="row w-100" id="row2" ><br>
<h1 align="center">BLEONA'S</h1>
        <p align="center">INTERNATIONAL REAL ESTATE</p>
        </div> <hr>
    <div class="row w-100" id="bottom"><br>
    <div class="col-md-4">
    <h2 id="footerh2"> About Bleona's International Real Estate </h2>
        <p style="text-align: center; font-size: 15px; color: white; margin-top: 10px;">
  At Bleona’s International Real Estate, we are passionate about connecting people with unique properties across the globe. Whether you're searching for your dream home, a smart investment, or a peaceful escape, our mission is to guide you with expertise, care, and integrity. Let us help you turn your vision into reality—one property at a time.
        </p>
    </div>
    <div class="col-md-4 footer" >
        <h2 id="footerh2"> Contact us</h2><br>
        <p><i class="fa fa-phone" >  +355685491587</i></p>
        <p><i class="fa fa-phone" >  +355694321980</i></p>
        <p id="email"><i class="fa fa-envelope" aria-hidden="true"> bleonas.realestate@gmail.com</i></p>
    </div>
    <div class="col-md-4 ">
        <h2 id="footerh2"> Visit us at our location:</h2>
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d23967.56872845874!2d19.7751707!3d41.3317856!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1350310852673815%3A0x6b205a5f3d88fa5!2sRealEstate.al%20-%20Apartment%2C%20Villa%2C%20Office%20in%20Tirana!5e0!3m2!1sen!2s!4v1744462441729!5m2!1sen!2s" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
        <br>
         <p style="text-align: center; font-size: 16px; color: #888; margin-top: 20px;">
  &copy; 2025 <strong>Bleona's International Real Estate</strong>. Dedicated to connecting people with their dream properties worldwide. All rights reserved.
         </p>
    </div>
</div>






<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="{% static 'script.js' %}" ></script>
</body>
</html>
